.chat-main
  .chat-main__group-info
    .top-box-left
      .top-box-left__groups
        moti
      .top-box-left__member
        member : motizo
    .top-box-right
      = link_to "#", class: "top-box-right__edit" do
        Edit
  .chat-main__message-list
    .message-box
      .message-box__name
        moti 
      .message-box__date
        2020 7月13日 20:22 (月)
    .chat
      おはよう
    
    .message-box2
      .message-box2__name2
        moti 
      .message-box2__date2
        2020 7月13日 20:22 (月)
    .chat2
      こんにちは
  .chat-main__message-form
    %input{type: "text",class: "form-box", placeholder: "type a message"}
      .form-box__image
        %label{class: "form-box__image"}
          = icon('far', 'image')
          %input{type: "file", class: "form-box__file"}
    .send-btn
      send
